body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#main-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#green-button {
  background-color: green;
}

#green-button:hover {
  background-color: white;
}

#yellow-button {
  background-color: #f57c00;
  color: black;
}

#yellow-button:hover {
  background-color: white;
}

#red-button {
  background-color: red;
}
#red-button:hover {
  background-color: white;
}

#blue-button {
  background-color: blue;
  color: white;
}

#blue-button:hover {
  background-color: white;
  color: white;
}

.all-buttons {
  padding: 100px;
  border: 5px solid black;
  border-radius: 10%;
  transition: 0.25s;
}