@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: "Helvetica";
  color: white;
  background-color: #2e3532;
}

#main-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#green-button {
  background-color: #b0db43;
  transition: 0.25s;
}

#yellow-button {
  background-color: #f49d37;
  color: black;
}

#red-button {
  background-color: #d72638;
}

#blue-button {
  background-color: #3f88c5;
  color: white;
}

.all-buttons {
  padding: 100px;
  border: 3px solid black;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
}

.all-buttons:hover {
  border: 2px double white;
}

#test-button {
  margin-top: 50px;
}
