@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");
* {
  font-family: "Sora";
  font-weight: 700;
  text-decoration: none;
}

body {
  display: grid;
  font-family: "Sora";
  justify-content: center;
  align-content: center;
  height: 100vh;
  text-align: center;
  color: white;
  background: linear-gradient(45deg, #fc354c, #0abfbc);
  background-size: 150% 150%;
  animation: background 10s infinite;
}

@keyframes background {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

.front-name {
  font-size: 36px;
}
.grid-box {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10%;
  margin-top: 80px;
}

.fa {
  padding: 20px 80px;
  color: white;
  transition: all 0.25s ease-in-out;
  border: 2px solid black;
  font-size: large;
}

.fa:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  position: relative;
  transform: translate(-5px, -5px);
}

.fa-facebook {
  width: 150px;
  height: 25px;
  background-color: #3b5998;
}

.fa-twitter {
  width: 150px;
  height: 25px;
  background-color: #55acee;
}

.fa-google {
  width: 150px;
  height: 25px;
  background: #dd4b39;
}

.fa-github {
  width: 150px;
  height: 25px;
  background-color: #161b22;
}

.fa-codepen {
  width: 150px;
  height: 25px;
  background-color: #131417;
}

.fa-linkedin {
  width: 150px;
  height: 25px;
  background-color: #007bb5;
}

.simon-game {
  width: 150px;
  height: 25px;
  background-color: #567973;
  font-family: "Sora";
  font-weight: bold;
  grid-row-start: 4;
  grid-column-start: 2;
}

.projects-tag {
  grid-column-start: 2;
}
